## Harnessing factor data using pandas_datareader

In [ ]:
!pip install pandas_datareader

In [2]:
import warnings

In [3]:
import pandas_datareader as pdr
from IPython.display import display

In [4]:
warnings.filterwarnings("ignore")

Fetches the Fama-French research data factors and stores it in 'factors'

In [5]:
factors = pdr.get_data_famafrench(
    "F-F_Research_Data_Factors",
)

In [6]:
display(factors["DESCR"])

'F-F Research Data Factors\n-------------------------\n\nThis file was created by CMPT_ME_BEME_RETS using the 202404 CRSP database. The 1-month TBill return is from Ibbotson and Associates, Inc. Copyright 2024 Kenneth R. French\n\n  0 : (59 rows x 4 cols)\n  1 : Annual Factors: January-December (5 rows x 4 cols)'

Displays the first few rows of the first dataset in 'factors'

In [7]:
data = factors[0].head()

In [8]:
display(data)

         Mkt-RF   SMB   HML    RF
Date
2019-06    6.93  0.29 -0.71  0.18
2019-07    1.19 -1.93  0.48  0.19
2019-08   -2.58 -2.38 -4.78  0.16
2019-09    1.43 -0.96  6.75  0.18
2019-10    2.06  0.29 -1.91  0.16

Displays the first few rows of the second dataset in 'factors'

In [9]:
data = factors[1].head()

In [10]:
display(data)

      Mkt-RF    SMB    HML    RF
Date
2019   28.28  -6.14 -10.46  2.15
2020   23.66  13.18 -46.67  0.45
2021   23.56  -3.89  25.49  0.04
2022  -21.60  -6.95  25.81  1.43
2023   21.70  -3.24 -13.60  4.95

Fetches the Fama-French research data factors within the specified date range and stores it in 'factors'

In [11]:
factors = pdr.get_data_famafrench(
    "F-F_Research_Data_Factors", start="2000-01-01", end="2019-12-31"
)

In [12]:
display(factors)

{0:          Mkt-RF    SMB   HML    RF
 Date
 2000-01   -4.74   5.77 -1.88  0.41
 2000-02    2.45  21.36 -9.59  0.43
 2000-03    5.20 -17.20  8.13  0.47
 2000-04   -6.40  -6.68  7.26  0.46
 2000-05   -4.42  -6.05  4.75  0.50
 ...         ...    ...   ...   ...
 2019-08   -2.58  -2.38 -4.78  0.16
 2019-09    1.43  -0.96  6.75  0.18
 2019-10    2.06   0.29 -1.91  0.16
 2019-11    3.87   0.77 -2.02  0.12
 2019-12    2.77   0.73  1.75  0.14

 [240 rows x 4 columns],
 1:       Mkt-RF    SMB    HML    RF
 Date
 2000  -17.60  -4.60  44.98  5.89
 2001  -15.21  18.16  18.52  3.83
 2002  -22.76   4.38   8.10  1.65
 2003   30.75  26.54   4.61  1.02
 2004   10.72   4.46   7.61  1.20
 2005    3.09  -2.36   9.41  2.98
 2006   10.60   0.08  11.93  4.80
 2007    1.04  -7.44 -17.18  4.66
 2008  -38.34   2.40   1.05  1.60
 2009   28.26   9.18  -9.65  0.10
 2010   17.37  14.15  -5.17  0.12
 2011    0.44  -5.73  -8.41  0.04
 2012   16.27  -1.40   9.99  0.06
 2013   35.20   7.73   2.60  0.02
 2014   11.71  -7.80  -1.45  0.02
 2015    0.09  -4.01  -9.65  0.02
 2016   13.30   6.75  22.71  0.20
 2017   21.51  -5.09 -13.57  0.80
 2018   -6.95  -3.16  -9.67  1.83
 2019   28.28  -6.14 -10.46  2.15,
 'DESCR': 'F-F Research Data Factors\n-------------------------\n\nThis file was created by CMPT_ME_BEME_RETS using the 202404 CRSP database. The 1-month TBill return is from Ibbotson and Associates, Inc. Copyright 2024 Kenneth R. French\n\n  0 : (240 rows x 4 cols)\n  1 : Annual Factors: January-December (20 rows x 4 cols)'}

**Jason Strimpel** is the founder of <a href='https://pyquantnews.com/'>PyQuant News</a> and co-founder of <a href='https://www.tradeblotter.io/'>Trade Blotter</a>. His career in algorithmic trading spans 20+ years. He previously traded for a Chicago-based hedge fund, was a risk manager at JPMorgan, and managed production risk technology for an energy derivatives trading firm in London. In Singapore, he served as APAC CIO for an agricultural trading firm and built the data science team for a global metals trading firm. Jason holds degrees in Finance and Economics and a Master's in Quantitative Finance from the Illinois Institute of Technology. His career spans America, Europe, and Asia. He shares his expertise through the <a href='https://pyquantnews.com/subscribe-to-the-pyquant-newsletter/'>PyQuant Newsletter</a>, social media, and has taught over 1,000+ algorithmic trading with Python in his popular course **<a href='https://gettingstartedwithpythonforquantfinance.com/'>Getting Started With Python for Quant Finance</a>**. All code is for educational purposes only. Nothing provided here is financial advise. Use at your own risk.