## Building pandas Series and DataFrames

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display
from openbb import obb

In [2]:
obb.user.preferences.output_type = "dataframe"

Generates a date range with second frequency starting from 2016-01-01 for 100 periods and displays it

In [3]:
seconds = pd.date_range("2016-01-01", periods=100, freq="s")

In [4]:
display(seconds)

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 00:00:01',
               '2016-01-01 00:00:02', '2016-01-01 00:00:03',
               '2016-01-01 00:00:04', '2016-01-01 00:00:05',
               '2016-01-01 00:00:06', '2016-01-01 00:00:07',
               '2016-01-01 00:00:08', '2016-01-01 00:00:09',
               '2016-01-01 00:00:10', '2016-01-01 00:00:11',
               '2016-01-01 00:00:12', '2016-01-01 00:00:13',
               '2016-01-01 00:00:14', '2016-01-01 00:00:15',
               '2016-01-01 00:00:16', '2016-01-01 00:00:17',
               '2016-01-01 00:00:18', '2016-01-01 00:00:19',
               '2016-01-01 00:00:20', '2016-01-01 00:00:21',
               '2016-01-01 00:00:22', '2016-01-01 00:00:23',
               '2016-01-01 00:00:24', '2016-01-01 00:00:25',
               '2016-01-01 00:00:26', '2016-01-01 00:00:27',
               '2016-01-01 00:00:28', '2016-01-01 00:00:29',
               '2016-01-01 00:00:30', '2016-01-01 00:00:31',
               '2016-01-01 00:00:32', '2016-01-01 00:00:33',
               '2016-01-01 00:00:34', '2016-01-01 00:00:35',
               '2016-01-01 00:00:36', '2016-01-01 00:00:37',
               '2016-01-01 00:00:38', '2016-01-01 00:00:39',
               '2016-01-01 00:00:40', '2016-01-01 00:00:41',
               '2016-01-01 00:00:42', '2016-01-01 00:00:43',
               '2016-01-01 00:00:44', '2016-01-01 00:00:45',
               '2016-01-01 00:00:46', '2016-01-01 00:00:47',
               '2016-01-01 00:00:48', '2016-01-01 00:00:49',
               '2016-01-01 00:00:50', '2016-01-01 00:00:51',
               '2016-01-01 00:00:52', '2016-01-01 00:00:53',
               '2016-01-01 00:00:54', '2016-01-01 00:00:55',
               '2016-01-01 00:00:56', '2016-01-01 00:00:57',
               '2016-01-01 00:00:58', '2016-01-01 00:00:59',
               '2016-01-01 00:01:00', '2016-01-01 00:01:01',
               '2016-01-01 00:01:02', '2016-01-01 00:01:03',
               '2016-01-01 00:01:04', '2016-01-01 00:01:05',
               '2016-01-01 00:01:06', '2016-01-01 00:01:07',
               '2016-01-01 00:01:08', '2016-01-01 00:01:09',
               '2016-01-01 00:01:10', '2016-01-01 00:01:11',
               '2016-01-01 00:01:12', '2016-01-01 00:01:13',
               '2016-01-01 00:01:14', '2016-01-01 00:01:15',
               '2016-01-01 00:01:16', '2016-01-01 00:01:17',
               '2016-01-01 00:01:18', '2016-01-01 00:01:19',
               '2016-01-01 00:01:20', '2016-01-01 00:01:21',
               '2016-01-01 00:01:22', '2016-01-01 00:01:23',
               '2016-01-01 00:01:24', '2016-01-01 00:01:25',
               '2016-01-01 00:01:26', '2016-01-01 00:01:27',
               '2016-01-01 00:01:28', '2016-01-01 00:01:29',
               '2016-01-01 00:01:30', '2016-01-01 00:01:31',
               '2016-01-01 00:01:32', '2016-01-01 00:01:33',
               '2016-01-01 00:01:34', '2016-01-01 00:01:35',
               '2016-01-01 00:01:36', '2016-01-01 00:01:37',
               '2016-01-01 00:01:38', '2016-01-01 00:01:39'],
              dtype='datetime64[ns]', freq='s')

Defines a function 'rnd' that returns an array of 100 random numbers

In [5]:
def rnd():
    return np.random.randn(
        100,
    )

Creates three pandas Series with random data and the previously generated seconds as index

In [6]:
s_1 = pd.Series(rnd(), index=seconds)
s_2 = pd.Series(rnd(), index=seconds)
s_3 = pd.Series(rnd(), index=seconds)

Creates a DataFrame 'df' from the three Series and displays it

In [7]:
df = pd.DataFrame({"a": s_1, "b": s_2, "c": s_3})

In [8]:
display(df)

                            a         b         c
2016-01-01 00:00:00  0.831923 -0.939787 -0.616651
2016-01-01 00:00:01 -0.603660 -1.242581 -0.940818
2016-01-01 00:00:02 -0.784384  2.424799  0.683260
2016-01-01 00:00:03  0.208618  0.014171 -1.715118
2016-01-01 00:00:04  0.013850 -0.562456 -0.673387
...                       ...       ...       ...
2016-01-01 00:01:35 -0.741422  1.003279 -0.084374
2016-01-01 00:01:36 -1.238774 -1.250313  0.847776
2016-01-01 00:01:37 -0.003752 -1.524192  0.397260
2016-01-01 00:01:38 -0.798505  0.681638  0.412192
2016-01-01 00:01:39  0.195336  0.961961 -0.710493

[100 rows x 3 columns]

Creates a list of tuples with date and symbol

In [12]:
tuples = [
    (pd.Timestamp("2023-07-10"), "WMT"),
    (pd.Timestamp("2023-07-10"), "JPM"),
    (pd.Timestamp("2023-07-10"), "TGT"),
    (pd.Timestamp("2023-07-11"), "WMT"),
    (pd.Timestamp("2023-07-11"), "JPM"),
    (pd.Timestamp("2023-07-11"), "TGT"),
]
midx = pd.MultiIndex.from_tuples(tuples, names=("date", "symbol"))

In [13]:
display(tuples)

[(Timestamp('2023-07-10 00:00:00'), 'WMT'),
 (Timestamp('2023-07-10 00:00:00'), 'JPM'),
 (Timestamp('2023-07-10 00:00:00'), 'TGT'),
 (Timestamp('2023-07-11 00:00:00'), 'WMT'),
 (Timestamp('2023-07-11 00:00:00'), 'JPM'),
 (Timestamp('2023-07-11 00:00:00'), 'TGT')]

Creates a MultiIndex from the list of tuples and assigns it to the index of a new DataFrame 'df'

In [14]:
df = pd.DataFrame(
    {
        "close": [158.11, 144.64, 132.55, 158.20, 146.61, 134.86],
        "factor_1": [0.31, 0.24, 0.67, 0.29, 0.23, 0.71],
    },
    index=midx,
)

In [15]:
display(df)

                    close  factor_1
date       symbol
2023-07-10 WMT     158.11      0.31
           JPM     144.64      0.24
           TGT     132.55      0.67
2023-07-11 WMT     158.20      0.29
           JPM     146.61      0.23
           TGT     134.86      0.71

Fetches options chains for the symbol "SPY" using the "cboe" provider and stores it in 'chains'

In [16]:
chains = obb.derivatives.options.chains("SPY", provider="cboe")

In [17]:
display(chains)

,contract_symbol,expiration,strike,option_type,open_interest,volume,theoretical_price,last_trade_price,tick,bid,...,change,change_percent,implied_volatility,delta,gamma,theta,vega,rho,last_trade_timestamp,dte
0,SPY240614C00350000,2024-06-14,350.0,call,149,147,192.4600,191.34,down,191.83,...,-1.495,-0.0078,0.0000,1.0000,0.0000,0.0000,0.0000,-0.0001,2024-06-14 14:16:52,-1
1,SPY240614P00350000,2024-06-14,350.0,put,1061,1,0.0000,0.01,no_change,0.00,...,0.005,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2024-06-14 09:32:54,-1
2,SPY240614C00355000,2024-06-14,355.0,call,0,64,187.4600,187.24,down,186.85,...,-0.615,-0.0033,0.0000,1.0000,0.0000,0.0000,0.0000,-0.0001,2024-06-14 15:57:53,-1
3,SPY240614P00355000,2024-06-14,355.0,put,466,0,0.0000,0.01,down,0.00,...,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2024-06-05 13:19:59,-1
4,SPY240614C00360000,2024-06-14,360.0,call,32,6,182.4600,181.25,down,181.85,...,-1.605,-0.0088,0.0000,1.0000,0.0000,0.0000,0.0000,-0.0001,2024-06-14 14:17:16,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9159,SPY261218P00800000,2026-12-18,800.0,put,1,0,258.5150,266.86,up,256.00,...,0.000,0.0000,0.0000,-0.9998,0.0000,-0.0153,0.0000,-0.1534,2024-06-11 09:41:34,916
9160,SPY261218C00805000,2026-12-18,805.0,call,0,0,3.1599,0.00,no_change,0.50,...,0.000,0.0000,0.1207,0.0760,0.0014,-0.0074,1.2912,0.9325,NaT,916
9161,SPY261218P00805000,2026-12-18,805.0,put,0,0,263.5095,0.00,no_change,261.00,...,0.000,0.0000,0.0000,-0.9998,0.0000,-0.0149,0.0000,-0.1546,NaT,916
9162,SPY261218C00810000,2026-12-18,810.0,call,0,2,2.9770,2.56,down,0.25,...,2.560,0.0000,0.1200,0.0722,0.0013,-0.0072,1.2440,0.8859,2024-06-14 12:22:40,916
9163,SPY261218P00810000,2026-12-18,810.0,put,0,0,268.5041,0.00,no_change,266.00,...,0.000,0.0000,0.0000,-0.9998,0.0000,-0.0146,0.0000,-0.1554,NaT,916

Sets a MultiIndex on the 'chains' DataFrame using the columns 'expiration', 'strike', and 'option_type' and displays it

In [18]:
df = chains.set_index(["expiration", "strike", "option_type"])

In [19]:
display(df)

                                  contract_symbol  open_interest  volume  \
expiration strike option_type
2024-06-14 350.0  call         SPY240614C00350000            149     147
                  put          SPY240614P00350000           1061       1
           355.0  call         SPY240614C00355000              0      64
                  put          SPY240614P00355000            466       0
           360.0  call         SPY240614C00360000             32       6
...                                           ...            ...     ...
2026-12-18 800.0  put          SPY261218P00800000              1       0
           805.0  call         SPY261218C00805000              0       0
                  put          SPY261218P00805000              0       0
           810.0  call         SPY261218C00810000              0       2
                  put          SPY261218P00810000              0       0

                               theoretical_price  last_trade_price       tick  \
expiration strike option_type
2024-06-14 350.0  call                  192.4600            191.34       down
                  put                     0.0000              0.01  no_change
           355.0  call                  187.4600            187.24       down
                  put                     0.0000              0.01       down
           360.0  call                  182.4600            181.25       down
...                                          ...               ...        ...
2026-12-18 800.0  put                   258.5150            266.86         up
           805.0  call                    3.1599              0.00  no_change
                  put                   263.5095              0.00  no_change
           810.0  call                    2.9770              2.56       down
                  put                   268.5041              0.00  no_change

                                  bid  bid_size     ask  ask_size  ...  \
expiration strike option_type                                      ...
2024-06-14 350.0  call         191.83        60  193.06        50  ...
                  put            0.00         0    0.01      2814  ...
           355.0  call         186.85       250  188.06        50  ...
                  put            0.00         0    0.01      2770  ...
           360.0  call         181.85       250  183.06        50  ...
...                               ...       ...     ...       ...  ...
2026-12-18 800.0  put          256.00        45  260.89        50  ...
           805.0  call           0.50        46    5.32        75  ...
                  put          261.00        45  265.88        50  ...
           810.0  call           0.25        52    5.00        20  ...
                  put          266.00        45  270.88        50  ...

                               change  change_percent  implied_volatility  \
expiration strike option_type
2024-06-14 350.0  call         -1.495         -0.0078              0.0000
                  put           0.005          1.0000              0.0000
           355.0  call         -0.615         -0.0033              0.0000
                  put           0.000          0.0000              0.0000
           360.0  call         -1.605         -0.0088              0.0000
...                               ...             ...                 ...
2026-12-18 800.0  put           0.000          0.0000              0.0000
           805.0  call          0.000          0.0000              0.1207
                  put           0.000          0.0000              0.0000
           810.0  call          2.560          0.0000              0.1200
                  put           0.000          0.0000              0.0000

                                delta   gamma   theta    vega     rho  \
expiration strike option_type
2024-06-14 350.0  call         1.0000  0.0000  0.0000  0.0000 -0.0001
                  put          0.0000  0.0000  0.0000  0.0000  0.0000
           355.0  call         1.0000  0.0000  0.0000  0.0000 -0.0001
                  put          0.0000  0.0000  0.0000  0.0000  0.0000
           360.0  call         1.0000  0.0000  0.0000  0.0000 -0.0001
...                               ...     ...     ...     ...     ...
2026-12-18 800.0  put         -0.9998  0.0000 -0.0153  0.0000 -0.1534
           805.0  call         0.0760  0.0014 -0.0074  1.2912  0.9325
                  put         -0.9998  0.0000 -0.0149  0.0000 -0.1546
           810.0  call         0.0722  0.0013 -0.0072  1.2440  0.8859
                  put         -0.9998  0.0000 -0.0146  0.0000 -0.1554

                               last_trade_timestamp  dte
expiration strike option_type
2024-06-14 350.0  call          2024-06-14 14:16:52   -1
                  put           2024-06-14 09:32:54   -1
           355.0  call          2024-06-14 15:57:53   -1
                  put           2024-06-05 13:19:59   -1
           360.0  call          2024-06-14 14:17:16   -1
...                                             ...  ...
2026-12-18 800.0  put           2024-06-11 09:41:34  916
           805.0  call                          NaT  916
                  put                           NaT  916
           810.0  call          2024-06-14 12:22:40  916
                  put                           NaT  916

[9164 rows x 24 columns]

**Jason Strimpel** is the founder of <a href='https://pyquantnews.com/'>PyQuant News</a> and co-founder of <a href='https://www.tradeblotter.io/'>Trade Blotter</a>. His career in algorithmic trading spans 20+ years. He previously traded for a Chicago-based hedge fund, was a risk manager at JPMorgan, and managed production risk technology for an energy derivatives trading firm in London. In Singapore, he served as APAC CIO for an agricultural trading firm and built the data science team for a global metals trading firm. Jason holds degrees in Finance and Economics and a Master's in Quantitative Finance from the Illinois Institute of Technology. His career spans America, Europe, and Asia. He shares his expertise through the <a href='https://pyquantnews.com/subscribe-to-the-pyquant-newsletter/'>PyQuant Newsletter</a>, social media, and has taught over 1,000+ algorithmic trading with Python in his popular course **<a href='https://gettingstartedwithpythonforquantfinance.com/'>Getting Started With Python for Quant Finance</a>**. All code is for educational purposes only. Nothing provided here is financial advise. Use at your own risk.